:root {
  font-family: 'Noto Sans Gujarati', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #2C2C2C;
  background-color: #F5F5DC;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
